{% extends 'onlineapp/base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" id="cartList">
	<!-- Featured Products -->
	<div class="row">
		<div class="col-md-9">
			<h3 class="my-4 border-bottom pb-1">Select Payment Method</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="5">Select Payment Method</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>
								<img class="img-fluid" src="{% static 'images/cart/paypal.png' %}" alt="">
							</td>
							<td colspan="3">
								{{form.render}}
							</td>
						</tr>
						<tr>
							<td colspan="3">
								Swish
							</td>
						</tr>
				</tbody>
			</table>
		</div>		
	</div>
</main>
{% endblock %}