{% extends 'onlineapp/base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Payment not processed</h4>
        <p>Your payment is not processed. In case your amount is debited in your bank and not reverted back in 7 business working days, 
        please contact your branch for more information.</p>
        <hr>
        <p class="mb-0">For any queries regarding our products contact us.</p>
      </div>
</main>
{% endblock %}