{% extends 'onlineapp/base.html' %}
{% load static %}


{% block title %} {{ProductClassification.name}} {% endblock title %}
{% block css %}
<!-- <style>
    #bg {
        background-repeat: no-repeat;
        background-size: 1800px 900px;
        background-position: top;
        background-attachment: fixed;
    }
</style> -->

{% endblock css %}

{% block content %}
<section>    
    <div class="container">
        <div class="row">
            {% if products_f or products_m or all_products %}
            {% if products_f or products_m %}
            <div class="col-sm-2">
                <div class="left-sidebar">
                    <h2>Filter By</h2>
                    <h4>Gender</h4>
                    <div class="panel-group category-products" id="accordian">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="women_checkbox" checked />
                            <label class="form-check-label" for="women_checkbox">WOMEN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="men_checkbox" checked />
                            <label class="form-check-label" for="men_checkbox">MEN</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-sm-10 padding-right">
                {% if products_f %}
                <div id="women">
                    <div class="panel-heading text-center">
                        <h2 class="title">
                            WOMEN
                        </h2>
                    </div>
                    <div class="jacket">
                        {% for prod in products_f %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <div class="jacket-image">
                                            <img src="{{prod.image.url}}">
                                        </div>
                                        <h2>{{prod.price}} SEK</h2>
                                        <p>{{prod.name}}</p>
                                        <a href="{% url 'onlineapp:product_view' prod.id %}"
                                            class="btn btn-default add-to-cart">View this product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
                <div class="col-sm-12 padding-right">
                {% if products_f %}
                <div id="men">
                    <div class="panel-heading text-center">
                        <h2 class="title">
                            MEN
                        </h2>
                    </div>
                    <div class="jacket">
                        {% for prod in products_f %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <div class="jacket-image">
                                            <img src="{{prod.image.url}}">
                                        </div>
                                        <h2>{{prod.price}} SEK</h2>
                                        <p>{{prod.name}}</p>
                                        <a href="{% url 'onlineapp:product_view' prod.id %}"
                                            class="btn btn-default add-to-cart">View this product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
        </div>

                {% if all_products %}
                <div id="allproducts">
                    <div class="panel-heading text-center">
                        <h2 class="title">
                            {{category.name}}
                        </h2>
                    </div>
                    <div class="jacket">
                        {% for prod in all_products %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <div class="jacket-image">
                                            <img src="{{prod.image.url}}">
                                        </div>
                                        <h2>{{prod.price}} SEK</h2>
                                        <p>{{prod.name}}</p>
                                        <a href="{% url 'onlineapp:product_view' prod.id %}" class="btn btn-default add-to-cart">View this product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div class="display">
            
                <div class="jumbotron">
                    <div class="text-center">
                        <!-- <p id="bg" style="background-image: url('{% static "images/product/bg-image.jpg"%}');"></p> -->
                        <h3 style="color:orange">COMING SOON!!!</h3>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
    </div>
</section>

{% endblock content %}


<script>

    $(document).ready(function () {
        $("#women_checkbox").click(function () {
            $("#women").toggle();
        });
        $("#men_checkbox").click(function () {
            $("#men").toggle();
        });
    });

</script>